# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pyre/
*.mypy_cache/
.pyre/

# Django
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
media
local_settings.py
.env

# IDEs & Editors
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Other
.DS_Store
Thumbs.db

# Backup files
*~
*.bak
*.swp
*.tmp

#Static files
staticfiles/